@tailwind base;

@layer base {
  @font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url('../fonts/Inter-roman.var.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Inconsolata-Regular.woff2') format('woff2');
  }

  body {
    @apply antialiased min-h-dvh bg-slate-100 dark:bg-slate-900 dark:text-white;
  }

  h1 {
    @apply text-center text-xl font-bold sm:text-2xl;
  }

  b {
    @apply font-semibold;
  }

  strong {
    @apply font-bold;
  }

  a.link {
    @apply border-b-2 border-slate-600 dark:border-slate-400 transition duration-300 hover:border-b-4 hover:border-blue-600 focus:border-blue-600 focus:outline-none;
  }
}

@tailwind components;
@tailwind utilities;
