.radio {
  composes: form-radio from '../styles/form-controls.css';
  margin-right: 0.5rem;
  --focus-ring-color: var(--color-primary);
  --checked-color: var(--color-primary);
}

.row {
  display: flex;
  align-items: center;
}

.label {
  display: flex;
  align-items: center;
}
