.tooltip {
  width: max-content;
  max-width: 20rem;
  backdrop-filter: blur(8px);
  background-color: hsla(var(--color-field), 0.75);
  border-radius: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  box-shadow: var(--shadow);
  padding: 0.5rem 0.75rem;
  margin: 0;
  z-index: 50;
  text-align: center;
  text-wrap: pretty;
}
